<style>
  body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  }
</style>

<div class="pt-3">

  <p>To view your feedback, <%= link_to "click here", essay_suggester_url(@essay_suggester) %>.</p>
  <p>Please give the feedback a rating.</p>
<div>
